#colors-tests
    .text-secondary
        Foo Bar

    .text-success
        Foo Bar

    .text-danger
        Foo Bar

    .text-warning
        Foo Bar

    .text-info
        Foo Bar

    .text-light
        Foo Bar

    .text-dark
        Foo Bar

    .text-muted
        Foo Bar

    .text-white
        Foo Bar
